<div class="container my-5">
    <br><br><br>

    <div class="row">
        <div class="col-md-4">
            <img src="https://img.etimg.com/thumb/msid-96001507,width-300,height-225,imgsize-23698,,resizemode-75/execs1_bccl.jpg" alt="logo">
        </div>

        <div class="col-md-8">
            <p>
                An employee is a term for workers and managers working for a company, organization or community.
                These people are the staff of the organization. In general, any person hired by an employer to do a particular job in exchange for payment is an employee, but there are different kinds of employees. In some countries, employers are required by law to do certain things, 
                like obey minimum wage laws, provide a safe workplace, and sometimes pay a tax.
            </p>

            <p>
                Some employers like to hire independent contractors, or workers who are technically running their own businesses,
                because they do not have to follow all of the same laws. For example, in the United States, an employer has to some of the employee's social security taxes and the employee pays the rest. 
                A self-employed person pays for all of his or her own social security taxes. 
            </p>
            
            <a class="btn btn-primary" routerLink="/api/employees">View</a>
        </div>
    </div>

</div>