<!-- Title -->
<h3 class="text-dark pt-3 text-capitalize border-dark">Employees</h3>   


<!-- Grid -->
<table class="table table-hover">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Designation</th>
        <th scope="col">Reports To</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row">{{employee._id}}</th>
        <td>{{employee.Name}}</td>
        <td>{{employee.Location}}</td>
        <td>{{employee.Designation}}</td>
        <td>{{employee.ReportsTo}}</td>
        <td><a href="#"><i class="far fa-edit mx-3 text-success"></i></a></td>
        <td><a href="#"><i class="fas fa-trash mx-3 text-danger"></i></a></td>
      </tr>
    </tbody>
  </table>


  <!-- Pagination -->
  <div>
    <ul class="pagination pagination-sm">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
  