<h3 class="text-dark pt-3 text-capitalize border-dark">{{title}} Employee</h3>
<form action="">
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Location</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Age</label>
        </div>
        <div class="form-group  mb-3">
            <select class="form-select" id="exampleSelect1">
              <option selected disabled>Select Designation</option>
              <option>Senior Software Engineer</option>
              <option>Software Engineer</option>
              <option>Module Lead</option>
              <option>Team Lead</option>
              <option>Manager</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <select class="form-select" id="exampleSelect1">
              <option selected disabled>Reports to</option>
              <option>Batul Saifee</option>
              <option>Samant Kunal</option>
              <option>Mark Wadington</option>
            </select>
        </div>
        <fieldset>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Manager
                </label>
            </div>
        </fieldset>
        <button type="button" class="btn btn-primary btn-md mt-3">Submit</button>
    </div>
</form>        
